<!DOCTYPE html>
<html>
<head>
    <title>License Plate Recognition Record</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#record_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        } );
    </script>
</head>
<body>
    <h1>License Plate Recognition Record</h1>
    <form action="/recognition_record/" method="post">
        {% csrf_token %}
        <label for="license_plate">License Plate:</label><br>
        <input type="text" id="license_plate" name="license_plate" required><br>
        <label for="junction">Junction:</label><br>
        <input type="text" id="junction" name="junction" required><br>
        <label for="record_date">Record Date:</label><br>
        <input type="text" id="record_date" name="record_date" required><br>
        <label for="record_time">Record Time:</label><br>
        <input type="time" id="record_time" name="record_time" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
