<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Vehicle Page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#registration_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        } );
    </script>
</head>
<body>
    <h1>This is the Register Vehicle Page!</h1>
    <form action="/register_vehicle/" method="post">
        {% csrf_token %}
        <label for="license_plate">License Plate:</label><br>
        <input type="text" id="license_plate" name="license_plate"><br>
        <label for="vehicle_type">Vehicle Type:</label><br>
        <select id="vehicle_type" name="vehicle_type">
            <option value="Car">Car</option>
            <option value="Electromobile">Electromobile</option>
            <option value="Motorcycle">Motorcycle</option>
            <option value="Bus">Bus</option>
            <option value="Other">Other</option>
        </select><br>
        <label for="owner_id">Owner ID:</label><br>
        <input type="text" id="owner_id" name="owner_id"><br>
        <label for="registration_date">Registration Date:</label><br>
        <input type="text" id="registration_date" name="registration_date"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
